@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

.select {
    width: 80px;
    height: 30px;
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid darkslategray;
    outline: none;
    cursor: pointer;
    padding: 5px;
}